<div class="container main-container">
  <h1>Firechat</h1>
  <hr>
  <table datatable [dtOptions]="dtOptions" class="row-border hover" width="100%">
    <thead>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Opciones</th>
    </tr>

    </thead>

    <tbody>

    </tbody>
    <!--<tfoot>-->
    <!--<tr>-->
      <!--<th><input type="text" placeholder="Search ID" name="search-id"/></th>-->
      <!--<th><input type="text" placeholder="Search first name" name="search-first-name"/></th>-->
      <!--<th><input type="text" placeholder="Search last name" name="search-last-name"/></th>-->
    <!--</tr>-->
    <!--</tfoot>-->
  </table>
</div>
